<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">User Details 
        <span class="float-right">
                <a routerLink="/users" class="d-none d-sm-inline-block btn btn-sm btn-secondary shadow-sm mr-1">
                    <i class="fa fa-arrow-left text-white-50"></i> Back
                </a>
                <a routerLink="/users/{{ user.id }}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm mr-1">
                    <i class="fa fa-eye text-white-50"></i> View
                </a>
                <a (click)="confirmModal('user', user.id, 'users', 'Please Confirm', 'Do you really want to delete this Record?')" class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm" href="javascript:;" target="_self">
                    <i class="fa fa-trash text-white-50"></i> Delete
                </a>
            </span>
    </h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">User Details </h6>
    </div>
    <div class="card-body">
        <form novalidate class="user" method="post" [formGroup]="userForm" (ngSubmit)="update()">
            <div style="position: absolute;left:-999px;">
                <input type="email">
                <input type="password">
            </div>
            <div class="form-group row">
                <label for="title" class="col-3 col-form-label">Title</label>
                <div class="col-8">
                    <select class="form-control" formControlName="title" #title>
                        <option value="">-- Select --</option>
                        <option value="1">Mr.</option>
                        <option value="2">Mrs.</option>
                        <option value="3">Miss.</option>
                        <option value="4">Dr.</option>
                    </select>
                    <div class="invalid-feedback" *ngIf="userForm.controls['title'].invalid && (userForm.controls['title'].dirty || userForm.controls['title'].touched)">
                        <span *ngIf="userForm.controls['title'].errors.required">
                            Title is required.
                        </span>
                    </div>
                </div>
            </div>
            
            <div class="form-group row">
                <label for="first_name" class="col-3 col-form-label">First Name</label>
                <div class="col-8">
                    <input type="text" class="form-control " placeholder="First Name" formControlName="first_name" #first_name>
                    <div class="invalid-feedback" *ngIf="userForm.controls['first_name'].invalid && (userForm.controls['first_name'].dirty || userForm.controls['first_name'].touched)">
                        <span *ngIf="userForm.controls['first_name'].errors.required">
                            First Name is required.
                        </span>
                    </div>
                </div>
            </div>
            
            <div class="form-group row">
                <label for="last_name" class="col-3 col-form-label">Last Name</label>
                <div class="col-8">
                    <input type="text" class="form-control " placeholder="Last Name" formControlName="last_name" #last_name>
                    <div class="invalid-feedback" *ngIf="userForm.controls['last_name'].invalid && (userForm.controls['last_name'].dirty || userForm.controls['last_name'].touched)">
                        <span *ngIf="userForm.controls['last_name'].errors.required">
                            Last Name is required.
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="email" class="col-3 col-form-label">Email</label>
                <div class="col-8">
                        <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter Email Address" formControlName="email" #email>
                    <div class="invalid-feedback" *ngIf="userForm.controls['email'].invalid && (userForm.controls['email'].dirty || userForm.controls['email'].touched)">
                        <span *ngIf="userForm.controls['email'].errors.required">
                            Email is required.
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="status" class="col-3 col-form-label">Status</label>
                <div class="col-8">
                    <select class="form-control" formControlName="status" #status>
                        <option value="">-- Select --</option>
                        <option value="1">Active</option>
                        <option value="2">Inactive</option>
                        <option value="3">Blocked</option>
                    </select>
                    <div class="invalid-feedback" *ngIf="userForm.controls['status'].invalid && (userForm.controls['status'].dirty || userForm.controls['status'].touched)">
                        <span *ngIf="userForm.controls['status'].errors.required">
                            Status is required.
                        </span>
                    </div>
                </div>
            </div>
            
            <div class="form-group row">
                <label for="phone" class="col-3 col-form-label">Phone</label>
                <div class="col-9">
                    <input type="text" class="form-control " placeholder="Phone" formControlName="phone" #phone>
                    <div class="invalid-feedback"
                        *ngIf="userForm.controls['phone'].invalid && (userForm.controls['phone'].dirty || userForm.controls['phone'].touched)">
                        <span>
                            Phone is invalid.
                        </span>
                    </div>
                </div>
            </div>
            
            <div class="form-group row">
                <label for="details" class="col-3 col-form-label">Details</label>
                <div class="col-9">
                    <editor id="details" name="details" apiKey="jdnweosayjp4qrtx2us0pc9iubhypor5c3wwp35lzg70lcmw"
                            [init]="{
                            plugins: 'print preview powerpaste casechange importcss tinydrive searchreplace autolink autosave save directionality advcode visualblocks visualchars fullscreen image link media mediaembed template codesample table charmap hr pagebreak nonbreaking anchor toc insertdatetime advlist lists checklist wordcount tinymcespellchecker a11ychecker imagetools textpattern noneditable help formatpainter permanentpen pageembed charmap mentions quickbars linkchecker emoticons',
                            tinydrive_demo_files_url: '/docs/demo/tiny-drive-demo/demo_files.json',
                            tinydrive_dropbox_app_key: 'jee1s9eykoh752j',
                            tinydrive_google_drive_key: 'AIzaSyAsVRuCBc-BLQ1xNKtnLHB3AeoK-xmOrTc',
                            tinydrive_google_drive_client_id: '748627179519-p9vv3va1mppc66fikai92b3ru73mpukf.apps.googleusercontent.com',
                            menubar: 'file edit view insert format tools table tc help',
                            toolbar: 'undo redo | bold italic underline strikethrough | fontselect fontsizeselect formatselect | alignleft aligncenter alignright alignjustify | outdent indent |  numlist bullist checklist | forecolor backcolor casechange permanentpen formatpainter removeformat | pagebreak | charmap emoticons | fullscreen  preview save print | insertfile image media pageembed template link anchor codesample | a11ycheck ltr rtl | showcomments addcomment',
                            height: 400,
                            autosave_ask_before_unload: true,
                            autosave_interval: '30s',
                            autosave_prefix: '{path}{query}-{id}-',
                            autosave_restore_when_empty: false,
                            autosave_retention: '2m',
                            image_advtab: true
                            }" formControlName="details" #details></editor>
                </div>
            </div>

            <div class="form-group row justify-content-center">
                <div class="col-8 offset-2">
                <button class="btn btn-primary" type="submit" [disabled]="userForm.invalid"> <i class="fa fa-save"></i> Save </button>
                </div>
            </div>
        </form>
    </div>
    </div>

</div>