<div class="container">
<div class="row justify-content-center">
    <div class="col-xl-6 col-lg-6 col-md-6">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
            <div class="col-12">
            <div class="p-5">
                <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                </div>
                <form [formGroup]="loginForm" novalidate class="user" method="post" (ngSubmit)="login()">
                <div class="form-group">
                    <input type="email" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter Email Address" formControlName="email" #email>
                    <div class="invalid-feedback" *ngIf="loginForm.controls['email'].invalid && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched)">
                        <span *ngIf="loginForm.controls['email'].errors.required">
                            Email is required.
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <input type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Enter Password" formControlName="password" #password [type]="hide ? 'password' : 'text'">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" tabindex="-1" type="button" (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                <i class="fa fa-eye{{hide ? '-slash' : ''}}"></i>
                            </button>
                        </div>
                    </div>
                    <div class="invalid-feedback" *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)">
                        <span *ngIf="loginForm.controls['password'].errors.required">
                            Password is required.
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="custom-control custom-checkbox small">
                    <input type="checkbox" class="custom-control-input" id="customCheck">
                    <label class="custom-control-label" for="customCheck">Remember Me</label>
                    </div>
                </div>
                <hr>
                <div class="form-group row justify-content-center">
                  <div class="col-10 offset-1">
                        <button class="btn btn-google btn-icon-split"> 
                            <span class="icon text-white-50"><i class="fab fa-google fa-fw"></i></span> 
                            <span class="text">Login with Google</span> 
                        </button>
                        <button class="btn btn-primary btn-icon-split ml-2" type="submit" [disabled]="loginForm.pristine || loginForm.invalid"> 
                            <span class="icon text-white-50"> <i class="fas fa-arrow-right"></i> </span>
                            <span class="text">Login</span> 
                        </button>
                  </div>
                </div>
                </form>
                <hr>
                <div class="text-center">
                <a class="small" routerLink="/forgot-password">Forgot Password?</a>
                </div>
                <div class="text-center">
                <a class="small" routerLink="/register">Create an Account!</a>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>
</div>