<div class="container-fluid">
          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Users 
            <span class="float-right">
                <a routerLink="/" class="d-none d-sm-inline-block btn btn-sm btn-secondary shadow-sm mr-1">
                    <i class="fa fa-arrow-left text-white-50"></i> Back
                </a>
                <a routerLink="/users/add" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm mr-1">
                    <i class="fa fa-user-edit text-white-50"></i> Add New User
                </a>
            </span></h1>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">All Users </h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th [ngClass]="{'sorting sorting_asc': orderBy=='users.name' && order == 'ASC', 'sorting sorting_desc': orderBy=='users.name' && order == 'DESC', 'sorting': orderBy!='users.name' }" (click)="sortData('users.name')">Name</th>
                      <th [ngClass]="{'sorting sorting_asc': orderBy=='users.email' && order == 'ASC', 'sorting sorting_desc': orderBy=='users.email' && order == 'DESC', 'sorting': orderBy!='users.email' }" (click)="sortData('users.email')">Email</th>
                      <th [ngClass]="{'sorting sorting_asc': orderBy=='users.status' && order == 'ASC', 'sorting sorting_desc': orderBy=='users.status' && order == 'DESC', 'sorting': orderBy!='users.status' }" (click)="sortData('users.status')">Status</th>
                      <th [ngClass]="{'sorting sorting_asc': orderBy=='users.created_at' && order == 'ASC', 'sorting sorting_desc': orderBy=='users.created_at' && order == 'DESC', 'sorting': orderBy!='users.created_at' }" (click)="sortData('users.created_at')">Added On</th>
                      <th>#</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Name</th>
                      <th>Email</th>
                      <th>Status</th>
                      <th>Added On</th>
                      <th>#</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    <tr *ngFor="let user of users |paginate: {id: 'serverPagination', itemsPerPage: pageSize, currentPage: p, totalItems: total }">
                      <td>{{user.first_name}} {{user.last_name}}</td>
                      <td>{{user.email}}</td>
                      <td>
                        <span class="badge badge-pill badge-secondary" *ngIf="user.statusId==0">Draft</span>
                        <span class="badge badge-pill badge-success" *ngIf="user.statusId==1">Active</span>
                        <span class="badge badge-pill badge-warning" *ngIf="user.statusId==2">Inactive</span>
                        <span class="badge badge-pill badge-danger" *ngIf="user.statusId==3">Blocked</span>
                      </td>
                      <td>{{user.created_at |  date: 'MMM dd, yyyy, hh:mm a'}}</td>
                      <td>
                        <a routerLink="/users/edit/{{ user.id }}" class="d-none d-sm-inline-block btn btn-sm btn-warning shadow-sm mr-1">
                            <i class="fa fa-user-edit text-white-50"></i> Edit
                        </a>
                        <a routerLink="/users/{{ user.id }}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm mr-1">
                            <i class="fa fa-eye text-white-50"></i> View
                        </a>
                        <a (click)="confirmModal('user', user.id, 'loading', 'Please Confirm', 'Do you really want to delete this Record?')" class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm" href="javascript:;" target="_self">
                            <i class="fa fa-trash text-white-50"></i> Delete
                        </a>
                      </td>
                    </tr>
                    <tr *ngIf="users.length == 0">
                      <td>No record found!</td>
                    </tr>
                  </tbody>
                </table>

                <div [ngClass]="{ 'hidden': !loading }" style="display: none;">
                  <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="10"
                      aria-valuemin="0" aria-valuemax="100" style="width:10%"></div>
                  </div>
                </div>
                <br/>

                <pagination-controls id="serverPagination"
                      (pageChange)="getPage($event)"
                      maxSize="10"
                      directionLinks="true"
                      autoHide="true"
                      responsive="true"
                      previousLabel="Previous"
                      nextLabel="Next"
                      screenReaderPaginationLabel="Pagination"
                      screenReaderPageLabel="page"
                      screenReaderCurrentLabel="You're on page"></pagination-controls>
              </div>
            </div>
          </div>

        </div>